<!--The content below is only a placeholder and can be replaced.-->

  <button (click)="permitToNotify()">
    Click button to Click Notifiy
  </button>
  <br/>
  Device token: {{displayToken}}
  <div class="container">
    <div style="text-align:center">
      <h1>
        Google Map Geolocation Demo
      </h1>
    </div>
    <div>
      <div>
        <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Allow Notifications</button>
        <!-- <button class="btn btn-primary" (click)="trackMe()">Track me</button> -->
      </div>
      <div class="text-white">
        <span>Latitude: {{currentLat}}</span>
        <br>
        <span>Longitude: {{currentLong}}</span>
      </div>
      <br>
    </div>
    <br>
  </div>
<router-outlet></router-outlet>
